.card {
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  cursor: pointer;
}

.card__title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 220px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url("../images/vectors/likeheart.svg");
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_active {
  background-image: url("../images/vectors/solidHeart.svg");
}

.card__like-amount {
  width: 9px;
  height: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  /*position: absolute;*/
  right: 24px;
  bottom: 15px;
  margin: 0;
  margin-top: 30px;
  padding: 0 6px;
}

.card__button-delete {
  width: 18px;
  height: 18px;
  position: absolute;
  margin: 18px 15px 0 249px;
  background: url(../images/vectors/SolidTrash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card__button-delete:hover {
  opacity: 0.5;
}
